<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BullStore_EG01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.itbull.bullstore.servlet.client.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/client/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductManagerServlet</display-name>
    <servlet-name>ProductManagerServlet</servlet-name>
    <servlet-class>cn.itbull.bullstore.servlet.manager.ProductManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManagerServlet</servlet-name>
    <url-pattern>/manager/ProductManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>df</display-name>
    <servlet-name>df</servlet-name>
    <servlet-class>cn.itbull.bullstore.servlet.df</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>df</servlet-name>
    <url-pattern>/df</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductClientServlet</display-name>
    <servlet-name>ProductClientServlet</servlet-name>
    <servlet-class>cn.itbull.bullstore.servlet.client.ProductClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductClientServlet</servlet-name>
    <url-pattern>/client/ProductClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>code</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.border</param-name>
      <param-value>no</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.width</param-name>
      <param-value>80</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.size</param-name>
      <param-value>30</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.height</param-name>
      <param-value>35</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.session.key</param-name>
      <param-value>newCode</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>code</servlet-name>
    <url-pattern>/code</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>cn.itbull.bullstore.servlet.client.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/client/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderClientServlet</display-name>
    <servlet-name>OrderClientServlet</servlet-name>
    <servlet-class>cn.itbull.bullstore.servlet.client.OrderClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderClientServlet</servlet-name>
    <url-pattern>/client/OrderClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderManagerServlet</display-name>
    <servlet-name>OrderManagerServlet</servlet-name>
    <servlet-class>cn.itbull.bullstore.servlet.manager.OrderManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderManagerServlet</servlet-name>
    <url-pattern>/manager/OrderManagerServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.itbull.bullstore.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>OrderClientServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ceshi</display-name>
    <servlet-name>ceshi</servlet-name>
    <servlet-class>cn.itbull.bullstore.servlet.ceshi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ceshi</servlet-name>
    <url-pattern>/ceshi</url-pattern>
  </servlet-mapping>
</web-app>