<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BullStore_EG01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.itbull.bullstore.servlet.client.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/client/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductManagerServlet</display-name>
    <servlet-name>ProductManagerServlet</servlet-name>
    <servlet-class>cn.itbull.bullstore.servlet.manager.ProductManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManagerServlet</servlet-name>
    <url-pattern>/manager/ProductManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>df</display-name>
    <servlet-name>df</servlet-name>
    <servlet-class>cn.itbull.bullstore.servlet.df</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>df</servlet-name>
    <url-pattern>/df</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductClientServlet</display-name>
    <servlet-name>ProductClientServlet</servlet-name>
    <servlet-class>cn.itbull.bullstore.servlet.client.ProductClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductClientServlet</servlet-name>
    <url-pattern>/client/ProductClientServlet</url-pattern>
  </servlet-mapping>
</web-app>